/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* REGOLE GENERALI */

body{
    font-family: 'Noto Sans', sans-serif;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.button{
    background-color: #0061ff;
    color: white;
    padding: 7px 12px;
}

p{
    font-size: 1.8em;
}




/* HEADER */

header{
    background-color: white;
}

header .header-container{
    width: 95vw;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

header .header-container .header-left{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

header .header-container .header-left img{
    padding: 10px;
}

header .header-container .header-right{
    margin-right: 10px;
    display: flex;
    align-items: center;
}



/* MAIN */ 

main .jumbotron{
    background-color: #b4d0e7;
}

main .jumbotron .jumbotron-container{
    width: 65vw;
    margin: 0 auto;
}

main .jumbotron .jumbotron-container h1{
    padding: 40px 0;
    font-size: 7em;
}

main .jumbotron .jumbotron-container .description img{
    float: right;
    width: 80%;
}

main .jumbotron .jumbotron-container .description p{
    padding-bottom: 40px;
}

main .jumbotron .jumbotron-container .description p:last-child{
    padding-top: 40px;
    padding-bottom: 20px;
}

main .jumbotron .jumbotron-container i{
    font-size: 4em;
    padding: 50px 0;
}



/* FOOTER */
