/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* REGOLE GENERALI */

body{
    font-family: 'Noto Sans', sans-serif;
}

.blue{
    background-color: #b4d0e7;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.button{
    background-color: #0061ff;
    color: white;
    padding: 7px 12px;
}

.wide{
    font-size: 1.2em;
    padding: 10px 60px;
}

.main-container{
    max-width: 55vw;
    margin: 0 auto;
    padding: 70px 0;
}

section{
    padding: 50px 0;
}

.section-container{
    max-width: 55vw;
    margin: 0 auto;
    padding: 150px 0;
}

span{
    display: block;
}

h3{
    font-size: 3.7em;
    padding-bottom: 60px;
}  

h4{
    font-size: 2em;
    font-weight: 400;
}

h5 {
    font-size: 2.2em;
    padding: 15px 0;
}

h6{
    font-size: 1.5em;
    padding-bottom: 20px;
}

.blue-link{
    color: #6062f2;
    text-decoration: underline;
}

a.white{
    background-color: white;
    color: black;
    padding: 10px 30px;
}

a.reverse{
    border: 1px solid black;
}

.icon::after{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

p{
    font-size: 1.8em;
    padding: 20px 0;
    padding-bottom: 40px;
}



/* HEADER */

header{
    background-color: white;
}

header .header-container{
    width: 95vw;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

header .header-container .header-left{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

header .header-container .header-left img{
    padding: 10px;
}

header .header-container .header-right{
    margin-right: 10px;
    display: flex;
    align-items: center;
}



/* MAIN */ 

/* JUMBOTRON */

main .jumbotron{
    margin-bottom: 200px;
}

main .jumbotron .jumbotron-container{
    max-width: 65vw;
    margin: 0 auto;
}

main .jumbotron .jumbotron-container h1{
    padding: 40px 0;
    font-size: 7em;
}

main .jumbotron .jumbotron-container .description img{
    float: right;
    width: 70%;
}

main .jumbotron .jumbotron-container .description p{
    padding-bottom: 50px;
}

main .jumbotron .jumbotron-container .description p:last-child{
    padding-top: 50px;
    padding-bottom: 100px;
}

main .jumbotron .jumbotron-container i{
    font-size: 4em;
    padding-bottom: 40px;
}



/* SELEZIONE PIANO */

main div section .select-subscription{
    margin: 0 10px;
}

main div section form input[type=radio]{
    transform: scale(2);
    vertical-align: middle;
    margin-left: 5px;
}

main div section form label{
    font-size: 1.5em;
    padding-right: 50px;
    padding-left: 10px;
    vertical-align: middle;
}



/* 3 CARD PRINCIPALI */

main .main-container section .card-container{
    display: flex;
    margin-top: 40px;
}

main .main-container section .card-container .card{
    width: calc(100% / 3);
    margin: 0 10px;
    padding: 20px 40px;
    border: 1px solid lightgray;
}

main .main-container section .card-container .card .subscription-type{
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid lightgray;
}

main .main-container section .card-container .card .individual::before{
    font-family: "Font Awesome 5 Free"; content: "\f007";
    padding-right: 10px;
}

main .main-container section .card-container .card .team::before{
    font-family: "Font Awesome 5 Free"; content: "\f0c0";
    padding-right: 10px;
}

main .main-container section .card-container .card .company::before{
    font-family: "Font Awesome 5 Free"; content: "\f1ad";
    padding-right: 10px;
}

main .main-container section .card-container .card span{
    padding: 10px 0;
    font-size: 1.2em;
}

main .main-container section .card-container .card .subscription-cost{
    padding: 40px 0;
}

main .main-container section .card-container .card .subscription-cost .price{
    font-weight: 700;
}

main .main-container section .card-container .card .subscription-cost .time{
    color: gray;
}

main .main-container section .card-container .card .subscription-details{
    padding-bottom: 40px;
}

main .main-container section .card-container .card .subscription-details .folder::before{
    font-family: "Font Awesome 5 Free"; content: "\f07b";
    padding-right: 10px;
}

main .main-container section .card-container .card .subscription-details .share::before{
    font-family: "Font Awesome 5 Free"; content: "\f1e0";
    padding-right: 10px;
}

main .main-container section .card-container .card .special-span{
    padding: 30px 0;
}

main .main-container section .card-container .card span a{
    font-size: 1.2em;
}

main .main-container section .card-container .card .subscription-features{
    padding: 25px 0;
}

main .main-container section .card-container .card .subscription-features .check::before{
    font-family: "Font Awesome 5 Free"; content: "\f00c";
    color: #0061ff;
    padding-right: 5px;
}

/* ULTIMA GRANDE CARD */

main .main-container section .bigcard-container{
    width: 0 auto;
    padding: 20px 40px;
    margin: 20px 10px;
    border: 1px solid lightgray;
}

main .main-container section .bigcard-container .subscription-type{
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
}

main .main-container section .bigcard-container .info{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 50px;
    padding-top: 20px;
}

main .main-container section .bigcard-container span:last-child{
    font-size: 1.2em;
    max-width: 30vw;
}

main .main-container section .bigcard-container .subscription-type::before{
    font-family: "Font Awesome 5 Free"; content: "\f1ad";
    padding-right: 10px;
}



/* SEZIONE CON IMMAGINE DI FIANCO */

main .main-container .partner{
    display: flex;
    margin: 0 10px;
}

main .main-container .partner div img{
    width: 30vw;
    margin-right: 70px;
}

main .main-container .partner div:nth-child(2){
    padding-top: 70px;
}



/* BUSINESS FEATURE */

main .main-container section .business-features-container{
    display: flex;
    margin: 0 10px;
}

main .main-container section .business-feature{
    width: calc(100% / 3);
    padding: 20px;
}

main .main-container section .business-feature img{
    width: auto;
    height: 400px;
}



/* CLIENTI BUSINESS */

main div .section-container .small-section{
    max-width: 35vw;
    margin: 0 10px;
}



/* CLIENTI PIù FAMOSI */

main div .logo-container{
    display: flex;
    padding-bottom: 0px;
}

main div .logo-container .logo-left{
    width: 35%;
}

main div .logo-container .logo-middle{
    width: 30%;
    background-color: #f5f5f5;
}

main div .logo-container .logo-right{
    width: 35%;
}

/* LEFT */

main div .logo-container .logo-left{
    display: flex;
    flex-wrap: wrap;
}

main div .logo-container .logo-left .logo{
    width: calc(100% / 2);
    min-height: 500px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

main div .logo-container .logo-left .logo img{
    width: 50%;
}


main div .logo-container .logo-left .logo .change-my-color{
    filter: invert(100%);
}

main div .logo-container .logo-left .light-green{
    background-color: #a2d39b;
    border: 30px solid #d1e9cd;
}

main div .logo-container .logo-left .bordeaux{
    background-color: #61082b;
}

main div .logo-container .logo-left .medium-blue{
    background-color: #0093ce;
}

main div .logo-container .logo-left .red{
    background-color: #ff1c1c;
}

/* MIDDLE */

main div .logo-middle .logo {
    padding: 70px 50px;
}

main div .logo-middle .logo img{
    border-bottom: 1px solid lightgray;
    padding-bottom: 70px;
}

main div .logo-middle .logo .cit-container{
    padding: 60px 0;
}

main div .logo-middle .logo .cit-container .cit{
    font-size: 1.5em;
    color: grey;
}

main div .logo-middle .logo .cit-container .cit:last-child{
    padding: 30px 0;
}

/* RIGHT */

main div .logo-container .logo-right{
    display: flex;
    flex-wrap: wrap;
}

main div .logo-container .logo-right .logo{
    width: calc(100% / 2);
    max-height: 500px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

main div .logo-container .logo-right .logo img{
    width: 50%;
}

main div .logo-container .logo-right .logo{
    width: calc(100% / 2);
    min-height: 400px;
}

main div .logo-container .logo-right .logo .change-my-color{
    filter: invert(100%);
}

main div .logo-container .logo-right .medium-red{
    background-color: #d5001f;
}

main div .logo-container .logo-right .light-blue{
    background-color: #b4d0e7;
}

main div .logo-container .logo-right .dark-blue{
    background-color: #0d2481;
}

main div .logo-container .logo-right .yellow{
    background-color: #ffd830;
}



/* PROVA GRATUITA */

main .blue .section-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

main .blue .section-container .small-section{
    margin: 0 10px;
}

main .blue .section-container h3{
    display: inline-block;
    color: #60072a;
    padding-bottom: 0;
}



/* DOMANDE FREQUENTI */

main .section-container .faq-container{
    margin: 0 10px;
}

main .section-container .faq-container h3{
    padding: 50px 0;
}

main .section-container .faq-container h4{
    padding: 60px 0;
    border-top: 1px solid black;
}

main .section-container .faq-container h4::after{
    font-family: "Font Awesome 5 Free"; content: "\f078";
    float: right;
}

main .section-container .faq-container h4:last-child{
    border-bottom: 1px solid black;
}



/* FOOTER */

footer{
    background-color: #000000;
    color: white;
}

footer .footer-container{
    max-width: 65vw;
    margin: 0 auto;
}

footer .footer-container .first-section-footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

footer .footer-container .first-section-footer div h5{
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 30px;
}

footer .footer-container .first-section-footer div ul li{
    display: block;
    padding: 10px 0;
}

footer .footer-container .first-section-footer div ul li a{
    color: white;
}

footer .footer-container hr{
    max-width: 7vw;
    color: #b2b2b2;
}

footer .footer-container .second-section-footer{
    padding: 50px 0;
    font-size: 1.5em;
    color: #b2b2b2;
}

footer .footer-container .second-section-footer span{
    padding: 0 10px;
    display: inline-block;
}

footer .footer-container .second-section-footer i:last-child{
    vertical-align: -5px;
}