/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* REGOLE GENERALI */

body{
    font-family: 'Noto Sans', sans-serif;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.button{
    background-color: #0061ff;
    color: white;
    padding: 7px 12px;
}

p{
    font-size: 1.8em;
}




/* HEADER */

header{
    background-color: white;
}

header .header-container{
    width: 95vw;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

header .header-container .header-left{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

header .header-container .header-left img{
    padding: 10px;
}

header .header-container .header-right{
    margin-right: 10px;
    display: flex;
    align-items: center;
}



/* MAIN */ 

main{
    margin-bottom: 150px;
}

main .jumbotron{
    background-color: #b4d0e7;
}

main .jumbotron .jumbotron-container{
    max-width: 65vw;
    margin: 0 auto;
}

main .jumbotron .jumbotron-container h1{
    padding: 40px 0;
    font-size: 7em;
}

main .jumbotron .jumbotron-container .description img{
    float: right;
    width: 70%;
}

main .jumbotron .jumbotron-container .description p{
    padding-bottom: 50px;
}

main .jumbotron .jumbotron-container .description p:last-child{
    padding-top: 50px;
    padding-bottom: 100px;
}

main .jumbotron .jumbotron-container i{
    font-size: 4em;
    padding-bottom: 40px;
}



/* FOOTER */

footer{
    background-color: #000000;
    color: white;
}

footer .footer-container{
    max-width: 65vw;
    margin: 0 auto;
}

footer .footer-container .first-section-footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

footer .footer-container .first-section-footer div h5{
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 30px;
}

footer .footer-container .first-section-footer div ul li{
    display: block;
    padding: 10px 0;
}

footer .footer-container .first-section-footer div ul li a{
    color: white;
}

footer .footer-container hr{
    max-width: 7vw;
    color: #b2b2b2;
}

footer .footer-container .second-section-footer{
    padding: 50px 0;
    font-size: 1.5em;
    color: #b2b2b2;
}

footer .footer-container .second-section-footer span{
    padding: 0 10px;
}

footer .footer-container .second-section-footer i:last-child{
    vertical-align: -5px;
}